*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: #ffffff;
    width: 100vw;
}
/* mobile (767px and down) */

@media (max-width:767px) {

nav {
    padding: 0em 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: 70px;
    position: fixed;
    background-color: #212121;

}
nav ul{
    list-style: none;

}
nav li {
    font-size: 16px;
    padding: 15px 5px;
    display: inline-block;
  }
nav a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn {
    border-radius: 0.5em;
    font-size: 10px;
    width: 50;
    height: 35px;
}
.logo a{
    font-size: 28px;
    font-weight: bolder;
}

.btn{
    background-color: #5596F5;
}
nav .fa{
    font-size:22px;
    color:#ffffff; 
    vertical-align: bottom;
}

.cart-icon a {
    cursor: pointer;
    text-decoration: none;
}
main {
    margin-top: 4em;
}
.main-container {
    display:flex; 
    flex-direction:column; 
    align-items: center; 
    height: 70vh;
    padding: 3em 1em 1em 1em;
    background-color: #F5F5F5;
    margin: auto;
 }
.main-container img{
    overflow: hidden;
    object-fit: contain;
    max-height: 200px;
    padding-top: 0.5em;
}
.imageContainer{
    overflow: hidden;
    object-fit: contain;
 }
.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;   
}  
.description{
      text-align: center;
      font-size: 0.75rem;
      font-weight: bold;
      margin-top: 4px;
      margin: auto;
      padding: 0 2em;
}
.price {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
    margin-bottom: 16px;
}
.btnAddCart {
    font-size: 15px;
    border-radius: 1em;
    line-height: 50px;
    font-weight: bold;
    padding: 0 0px;
    background: #5596F5;
    color: white;
    border: none;
    width: 250px;
    cursor: default;
}

/* ----------------------------------- cart page -------------------------------*/
.main-cart{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}
.pageTitle{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}
.pageTitle h1 {
    font-size: 30px;
}
.pageTitle .fa-shopping-cart {
    font-size: 30px;
}
.cardContainer img{
    object-fit: contain;
    max-height: 200px;
    padding-top: 0.5em;
}
.main {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.cardContainer {
    display:flex; 
    flex-direction: column; 
    border: 2px solid #5596F5; 
    align-items: center; 
    padding: 1rem;
    margin: 0.5em; 
    border-radius: 0.5em;
    background-color: #F5F5F5;
}
.cardContainer.cardTitle{
    font-size: 15px;
    text-align: center;
    margin: auto;
}
.imageContainer{
    overflow: hidden;
    object-fit: contain;
}
.products-container span{
    font-size: 15px;
    font-weight: bold;
}
.cardContainer .price{
    font-size: 13px;  
}
.cardContainer .quantity {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.cardTitle{
    font-size: 1rem;
    font-weight: bold;
}
.btnDeletCart{
    font-size: 14px;
    border-radius: 0.5em;
    margin-top: 20px;
    height: 35px;
    width: 100px;
    background-color: #E64E4E;
    color: #FFFFFF;
}
.total-price{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.total-price .btn{
    margin: auto;
    align-self: center;
    width: 200px;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 2em;
}
}

/* Tablets (768px and up) */
  @media (min-width:768px){
   
nav {
    padding: 1em 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: 70px;
    position: fixed;
    background-color: #212121;
    min-height: 100px;
}
nav ul{
    list-style: none;

}
nav li {
    font-size: 16px;
    padding: 15px 5px;
    display: inline-block;
    }
nav a{
    color: #FFFFFF;
    text-decoration: none;
}
nav span {
    font-size: 20px;
}
.btn {
    border-radius: 0.5em;
    font-size: 10px;
    width: 50;
    height: 35px;
}
nav .fa{
    font-size: 30px;
    color:#ffffff; 
    vertical-align: bottom;
}
.logo a{
    font-size: 50px;
    font-weight: bolder;
    padding-left: 0.5em;
}

.btn{
    background-color: #5596F5;
    width: 100px;
    height: 40px;
    font-size: 15px;
}
.cart-icon a {
    cursor: pointer;
    text-decoration: none;
}
.cart-icon {
    color:#ffffff;
}
main{
    margin-top: 4em;
}
.main-container {
    display:flex; 
    flex-direction:column; 
    align-items: center;
    align-content: center; 
    height: 100vh;
    width: 100%;
    padding: 5em 1em 1em 1em;
    background-color: #F5F5F5;
    margin: auto;
}
.main-container img{
    overflow: hidden;
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding-top: 0.5em;
}
.imageContainer{
    overflow: hidden;
    object-fit: contain;
}
.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;   
}  
.description{
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 4px;
    margin: auto;
    padding: 0 2em;
}
.price {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
    margin-bottom: 16px;
}
    
.btnAddCart {
    font-size: 15px;
    border-radius: 1em;
    line-height: 50px;
    font-weight: bold;
    padding: 0 0px;
    background: #609bee;
    color: white;
    border: none;
    width: 250px;
    cursor: default;
}

      /* ----------------------------------- cart page -------------------------------*/
      
.main-cart{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}
.pageTitle{
    margin-top: 150px;
    text-align: center;
}
.pageTitle h1 {
    font-size: 2rem;
}
.pageTitle .fa-shopping-cart {
    font-size: 2rem;
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    flex: 0 1 0px;
    display:flex; 
    flex-direction:column; 
    width: fit-content;
    border: 2px solid #5596F5; 
    align-items: center; 
    margin: 1em; 
    padding: 1em 1em; 
    border-radius: 0.5em;
    background-color: #F5F5F5;
}
.cardContainer img{
    object-fit: contain;
    max-height: 180px;
}
.imageContainer{
    overflow: hidden;
    object-fit: contain;
}
.cardTitle{
    font-size: 15px;
    font-weight: bold;
}
.cardContainer .price{
    font-size: 14px;
    
}
.cardContainer .quantity{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

 .btnDeletCart{
  font-size: 14px;
  border-radius: 0.5em;
  height: 40px;
  width: 100px;
  background-color: #E64E4E;
  color: #FFFFFF;

}
.total-price{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.total-price .btn{
      margin: auto;
      align-self: center;
      width: 200px;
      color: #FFFFFF;
      font-size: 15px;
      margin-bottom: 2em;
  }
}
    
/* Desktop (992px and up) */

@media (min-width:992px){

nav {
    padding: 0em 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #212121;
    min-height: 90px;

}
nav ul{
    list-style: none;

}
nav li {
    font-size: 30px;
    padding: 15px 5px;
    display: inline-block;
    }
nav a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn {
    border-radius: 0.5em;
    font-size: 10px;
    width: 50;
    height: 35px;
}
.logo a{
    font-size: 50px;
    font-weight: bolder;
}

.btn{
    background-color: #5596F5;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
nav .fa{
    font-size: 40px;
    color:#ffffff; 
    vertical-align: bottom;
}
   
.cart-icon a {
    cursor: pointer;
    text-decoration: none;
}

.main-container {
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    padding: 4em 1em 1em 1em;
    background-color: #F5F5F5;
    margin: auto;
}
.main-container img {
    object-fit: contain;
    padding-top: 0.5em;
    max-height: 460px;
}
.imageContainer {
    overflow: hidden;
    object-fit: contain;
}
.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;   
}  
.description {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4px;
    margin: auto;
    padding: 0 2em;
}
.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 4px;
    margin-bottom: 1rem;
}
.btnAddCart {
    font-size: 15px;
    border-radius: 1em;
    line-height: 50px;
    font-weight: bold;
    padding: 0 0px;
    background: #5596F5;
    color: white;
    border: none;
    width: 250px;
    cursor: default;
}
/* ----------------------------------- cart page -------------------------------*/
.pageTitle{
    margin-top: 150px;
    text-align: center;
}
.pageTitle h1 {
    font-size: 2rem;
    font-weight: bolder;
}
.pageTitle .fa-shopping-cart {
    font-size: 2rem;
    font-weight: bolder;
}
.main {
    object-fit: contain;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
}
.main .price{
    font-weight: bolder;
    font-size: 15px;
}
.cardContainer {
    display:flex; 
    flex-direction:column; 
    border: 1px solid #5596F5; 
    align-items: center; 
    margin: 1em; 
    border-radius: 0.5em;
}
.cardContainer.cardTitle{
    font-size: 15px;
    text-align: center;
    margin: auto;
}
.imageContainer{
    overflow: hidden;
    object-fit: contain;
}
.cardContainer img{
    object-fit: contain;
    max-height: 250px;
}
.cardTitle{
    font-size: 1.5rem;
    font-weight: bold;
}
.btnDeletCart{
    font-size: 14px;
    border-radius: 0.5em;
    height: 50px;
    width: 100px;
    background-color: #E64E4E;
    color: #FFFFFF;
  
  }
.total-price{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    }
.total-price .btn{
        margin: auto;
        align-self: center;
        width: 200px;
        color: #FFFFFF;
        font-size: 15px;
        margin-bottom: 2em;
    }

}
